.program-table{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.search-container {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.search-input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}