.navbar-logo img {
    height: 60px; /* Adjust to make the logo larger */
    width: auto; /* Maintain aspect ratio */
     /* Center align the logo vertically if needed */
  }

.navbar-logo img:hover{
    cursor: pointer;
}

.settings-icon:hover{
  cursor: pointer;
}
  
.navbar {
  box-shadow: none;
  background-color: transparent !important;
}