/* CriteriaFilter.css */

/* Full height and container styles */
.criteria-filter {
    height: 100%;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: fixed;
    left: 0;
    width: 33%;
    overflow-y: auto;
  }
  
  /* Header styles */
  .criteria-filter h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  /* Group styles */
  .criteria-group {
    margin-bottom: 20px;
  }
  
  /* Custom checkbox styles */
  .custom-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .custom-checkbox input[type='checkbox'] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .custom-checkbox label {
    font-size: 16px;
    color: #333;
  }
  
  /* Dropdown styles */
  .criteria-group .dropdown-toggle {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #f8f9fa; /* Light grey background for dropdown */
    border: 1px solid #ccc;
  }
  
  .dropdown-menu {
    min-width: 100%;
  }
  
  /* Location slider styles */
  .location-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .slider {
    width: 100%;
    max-width: 200px;
  }
  
  .location-slider p {
    margin-top: 5px;
  }
  
  /* Apply button */
  .apply-filters {
    width: 100%;
    margin-top: 5px;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
  }
  